In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
RAW_DATA_PATH = "../data/raw/openpowerlifting.csv"

In [8]:
df = pd.read_csv(RAW_DATA_PATH)

C:\Users\pknad\AppData\Local\Temp\ipykernel_24028\2799820855.py:1: DtypeWarning: Columns (0,11,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(RAW_DATA_PATH)

In [9]:
print(df.columns)

Index(['164001', 'Jessica Pandini', 'Unnamed: 2', 'Unnamed: 3', 'FIPL',
       '2023-02-17', 'Italy', 'Unnamed: 7', 'F', 'Raw', '23~', '148.6', '152',
       '259', '148.8', '314.1', '722', '338.31'],
      dtype='object')

In [5]:
print(df.head())

   424501    Chris Scotchings Unnamed: 2 England      EPA  2021-06-11  \
0  424502       Elena Kulubya        NaN     NaN    FHSAA  2022-02-10
1  424503        Abrahim Riaz        NaN     NaN      APF  2023-03-18
2  424504   Valeriy Sholokhov        NaN  Russia  WPA-RUS  2016-02-20
3  424505  Aleksandr Starovit        NaN     NaN      RPU  2016-11-26
4  424506       Oleg Evsyukov        NaN     NaN      RPU  2016-12-17

  England.1 Unnamed: 7  M  Raw  36~  259.8  264 Unnamed: 13  297.6  \
0       USA         FL  F  Raw  NaN  162.6  168         NaN    175
1       USA         IL  M  Raw   17  196.3  198         NaN  264.5
2    Russia        AMU  M  Raw  19~  146.4  148         NaN  220.4
3    Russia        PRI  M  Raw  NaN  146.4  148         NaN  220.4
4    Russia        LEN  M  Raw   21  162.4  165         NaN    237

  Unnamed: 15 297.6.1  78.01
0         NaN     175  78.01
1         NaN   264.5  78.01
2         NaN   220.4  78.00
3         NaN   220.4  78.00
4         NaN     237  78.00