# Introduction

This notebook is taking a look at the raw data we have scraped so we can figure out what transformation and cleaning up we will need to do. In this notebook we won't go into too much detail on distributions and analytics but rather focus on making sure our data is usable.

In [146]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [147]:
RAW_DATA_PATH = "../data/raw/openpowerlifting.csv"

In [148]:
df = pd.read_csv(RAW_DATA_PATH)

In [149]:
print(df.columns)

Index(['Number', 'Name', 'Instagram Handle', 'Origin', 'Federation',
       'Competition Date', 'Competition Country', 'Competition City', 'Gender',
       'Equipment', 'Age', 'Weight', 'Class', 'Squat', 'Bench', 'Deadlift',
       'Total', 'Dots'],
      dtype='object')

In [150]:
df.head()

,Number,Name,Instagram Handle,Origin,Federation,Competition Date,Competition Country,Competition City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots
0,1,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30,123.4,123,573.2,292.1,485.0,1350.3,709.96
1,2,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41,163.8,165,639.3,336.2,611.7,1587.3,704.76
2,3,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26,163.8,165,650.3,325.1,573.2,1548.7,687.63
3,4,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24,177.2,181,639.3,374.8,595.2,1609.3,686.14
4,5,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27,119.9,123,507.0,242.5,529.1,1278.6,685.45

In [151]:
print(f'there are {len(df)} records')

there are 453800 records

In [152]:
df.describe()

,Number,Weight,Squat,Bench,Deadlift,Total,Dots
count,453800.000000,453800.000000,327802.000000,425852.000000,365786.000000,453800.000000,453800.000000
mean,226992.456809,183.941611,362.089047,243.257436,417.651622,827.343178,273.518067
std,131144.254596,47.174938,132.885636,99.749380,132.321099,434.923364,121.208654
min,1.000000,35.000000,2.200000,8.800000,2.200000,26.400000,15.050000
25%,113450.750000,148.800000,253.500000,154.300000,308.600000,446.400000,156.717500
50%,226900.500000,179.600000,358.200000,245.000000,424.400000,804.700000,303.140000
75%,340350.250000,213.200000,451.900000,314.100000,515.000000,1179.400000,365.570000
max,455000.000000,573.200000,1102.300000,782.600000,1030.600000,2606.900000,709.960000

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453800 entries, 0 to 453799
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Number               453800 non-null  int64
 1   Name                 453800 non-null  object
 2   Instagram Handle     9229 non-null    object
 3   Origin               266584 non-null  object
 4   Federation           453800 non-null  object
 5   Competition Date     453800 non-null  object
 6   Competition Country  453800 non-null  object
 7   Competition City     309166 non-null  object
 8   Gender               453800 non-null  object
 9   Equipment            453800 non-null  object
 10  Age                  351766 non-null  object
 11  Weight               453800 non-null  float64
 12  Class                449665 non-null  object
 13  Squat                327802 non-null  float64
 14  Bench                425852 non-null  float64
 15  Deadlift             365786 non-null  float64
 16  Total                453800 non-null  float64
 17  Dots                 453800 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 62.3+ MB

After looking at the info above, the age column should be a float64 but it is not let us see why this is and turn it into a float

In [154]:
df["Age"].unique()

array(['30', '41', '26', '24', '27', '28', '29', '39', '32', '36', '44',
       '22', '37', '33', '30~', '40', '32~', '31', nan, '34', '25', '42',
       '28~', '23~', '24~', '23', '48', '45', '21~', '26~', '25~', '43~',
       '35', '31~', '50', '33~', '20', '29~', '20~', '46~', '19', '27~',
       '38', '48~', '44~', '34~', '15~', '40~', '18~', '35~', '71', '43',
       '39~', '16', '21', '17~', '19~', '47', '17', '45~', '16~', '60~',
       '22~', '18', '38~', '57~', '55', '56', '46', '52~', '54', '50~',
       '47~', '61~', '73', '49~', '15', '14~', '65~', '68~', '37~', '41~',
       '42~', '51~', '53', '56~', '52', '57', '49', '36~', '59', '51',
       '61', '65', '54~', '60', '63', '53~', '64', '59~', '9~', '13~',
       '55~', '58', '13', '66~', '14', '71~', '11', '62', '9', '63~',
       '69', '12', '12~', '76', '62~', '58~', '7~', '69~', '76~', '70',
       '70~', '66', '10~', '74', '67', '67~', '10', '64~', '79', '11~',
       '8', '68', '78', '75', '74~', '75~', '73~', '72', '8~', '85~',
       '77', '72~', '80', '78~', '86', '85', '84', '77~', '90', '84~',
       '6', '82', '79~', '6~', '4~', '80~', '81~', '83', '81', '7', '5',
       '83~', '88', '92~', '86~', '89', '1~', '91~', '87', '87~', '88~',
       '5~', '96', '89~', '91', '0~', '82~', '92', '93~', '2~', '4',
       '90~'], dtype=object)

We can see that the data has some ~ lines indicating an approximation but we can remove that in order to convert the age column to floats

In [155]:
df["Age"] = df['Age'].str.replace('~', '').astype(np.float64)

In [156]:
df["Age"].unique()

array([30., 41., 26., 24., 27., 28., 29., 39., 32., 36., 44., 22., 37.,
       33., 40., 31., nan, 34., 25., 42., 23., 48., 45., 21., 43., 35.,
       50., 20., 46., 19., 38., 15., 18., 71., 16., 17., 47., 60., 57.,
       55., 56., 52., 54., 61., 73., 49., 14., 65., 68., 51., 53., 59.,
       63., 64.,  9., 13., 58., 66., 11., 62., 69., 12., 76.,  7., 70.,
       10., 74., 67., 79.,  8., 78., 75., 72., 85., 77., 80., 86., 84.,
       90.,  6., 82.,  4., 81., 83.,  5., 88., 92., 89.,  1., 91., 87.,
       96.,  0., 93.,  2.])

In [157]:
df.head()

,Number,Name,Instagram Handle,Origin,Federation,Competition Date,Competition Country,Competition City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots
0,1,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30.0,123.4,123,573.2,292.1,485.0,1350.3,709.96
1,2,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41.0,163.8,165,639.3,336.2,611.7,1587.3,704.76
2,3,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26.0,163.8,165,650.3,325.1,573.2,1548.7,687.63
3,4,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24.0,177.2,181,639.3,374.8,595.2,1609.3,686.14
4,5,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27.0,119.9,123,507.0,242.5,529.1,1278.6,685.45

In [158]:
df_sorted = df.sort_values(by='Number')

In [159]:
df_sorted.head()

,Number,Name,Instagram Handle,Origin,Federation,Competition Date,Competition Country,Competition City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots
0,1,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30.0,123.4,123,573.2,292.1,485.0,1350.3,709.96
1,2,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41.0,163.8,165,639.3,336.2,611.7,1587.3,704.76
2,3,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26.0,163.8,165,650.3,325.1,573.2,1548.7,687.63
3,4,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24.0,177.2,181,639.3,374.8,595.2,1609.3,686.14
4,5,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27.0,119.9,123,507.0,242.5,529.1,1278.6,685.45

Because the Number column isnt exactly in order we can remove it, and reset the index so the data is cleaner

In [160]:
df = df_sorted.drop("Number", axis=1).reset_index(drop=True)

In [161]:
df.head()

,Name,Instagram Handle,Origin,Federation,Competition Date,Competition Country,Competition City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots
0,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30.0,123.4,123,573.2,292.1,485.0,1350.3,709.96
1,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41.0,163.8,165,639.3,336.2,611.7,1587.3,704.76
2,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26.0,163.8,165,650.3,325.1,573.2,1548.7,687.63
3,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24.0,177.2,181,639.3,374.8,595.2,1609.3,686.14
4,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27.0,119.9,123,507.0,242.5,529.1,1278.6,685.45

Now we will go through all of the columns to make sure that the Data looks okay

In [162]:
df["Origin"].unique()

array(['USA', 'Australia', 'Russia', 'Canada', 'Germany', nan,
       'South Africa', 'England', 'Czechia', 'Finland', 'France', 'UK',
       'Italy', 'Ukraine', 'Wales', 'Argentina', 'Kazakhstan', 'Poland',
       'New Zealand', 'South Korea', 'Israel', 'Ireland',
       'US Virgin Islands', 'Greece', 'Brazil', 'Bulgaria', 'Iran',
       'Colombia', 'Switzerland', 'Sweden', 'Japan', 'Thailand', 'Latvia',
       'Azerbaijan', 'Hungary', 'Türkiye', 'Norway', 'Taiwan', 'Iceland',
       'Algeria', 'Spain', 'Egypt', 'Belgium', 'Mexico', 'Belarus',
       'Nauru', 'Libya', 'Netherlands', 'Slovakia', 'Guyana', 'Chile',
       'Croatia', 'Serbia', 'Portugal', 'Georgia', 'Singapore',
       'British Virgin Islands', 'China', 'Lithuania', 'Scotland',
       'Bolivia', 'Ecuador', 'Slovenia', 'Austria', 'Indonesia',
       'Jamaica', 'Estonia', 'Vietnam', 'Venezuela', 'Cyprus', 'Denmark',
       'Luxembourg', 'Kyrgyzstan', 'Cameroon', 'Belize',
       'Bosnia and Herzegovina', 'Philippines', 'India',
       'Trinidad and Tobago', 'Malaysia', 'Mongolia', 'Moldova', 'Peru',
       'Uganda', 'Hong Kong', 'Lebanon', 'Tuvalu', 'Samoa', 'Iraq',
       'Romania', 'Ivory Coast', 'Uzbekistan', 'Tonga', 'Tunisia',
       'N.Ireland', 'Ghana', 'Puerto Rico', 'Papua New Guinea', 'Armenia',
       'Saudi Arabia', 'Sri Lanka', 'Kuwait', 'Cambodia', 'Afghanistan',
       'Tajikistan', 'Dominican Republic', 'UAE', 'Costa Rica',
       'Yugoslavia', 'Oman', 'Malta', 'New Caledonia', 'Montenegro',
       'Uruguay', 'Zimbabwe', 'USSR', 'Brunei', 'Morocco', 'Syria',
       'Paraguay', 'Bahrain', 'Guatemala', 'Suriname', 'Tanzania',
       'Bangladesh', 'Aruba', 'Panama', 'Fiji', 'Niue', 'Kiribati',
       'Nicaragua', 'Isle of Man', 'Jordan', 'Palestine', 'Turkmenistan',
       'Transnistria', 'Tahiti', 'Zambia', 'Grenada', 'Namibia',
       'Cabo Verde', 'North Macedonia', 'Nigeria', 'Pakistan', 'Bahamas',
       'El Salvador', 'Cook Islands', 'Nepal', 'The Gambia',
       'Solomon Islands', 'Haiti', 'Abkhazia', 'Cayman Islands',
       'Wallis and Futuna', 'Botswana', 'American Samoa', 'Laos', 'Kenya',
       'Cuba', 'Togo', 'Rwanda', 'West Germany', 'Guinea', 'Benin',
       'Mali', 'East Timor', 'Qatar', 'Ethiopia', 'Mauritania',
       'Central African Republic', 'Burkina Faso', 'Niger', 'Honduras',
       'Senegal', 'Rhodesia', 'Yemen', 'Angola', 'Vanuatu',
       'Guinea-Bissau', 'Sierra Leone', 'Congo', 'Comoros'], dtype=object)

In [163]:
df["Federation"].unique()

array(['WRPF', 'USPA', 'XPC', 'USA-UA', 'RPS', 'WRPF-AUS', 'SPF', 'FPO',
       'WPC-SA', 'IPA', 'APF', 'ProRaw', 'UPA', 'USAPL', 'RUPC', 'AusPL',
       'GPC-GUPU', '365Strong', 'IPF', 'BPU', 'IPL', 'WPA-RUS', 'USPC',
       'BB', 'WRPF-CAN', 'APA', 'IrishPO', 'XPS', 'RhinoPC', 'GPC',
       'UPC-Germany', 'WPC-Finland', 'GPC-AUS', 'NAP', 'Ireland-UA',
       'CommonwealthPF', 'MM', 'EPF', 'NPA', 'FPR', 'AMP', 'ARPL', 'AAU',
       'WPC', 'WPUF', 'GPA', 'CONBRAP', 'CAPO', 'NSF', 'GPC-GB',
       'WPC-RUS', 'FIPL', 'NAPF', 'RPU', 'SSF', 'CPF', 'JPA', 'SVNL',
       'AsianPF', 'WPC-Latvia', 'WPAU', 'XPC-Poland', 'PA', 'CPL',
       'TPSSF', 'BP', 'RAWU', 'CPA', 'GPC-NZ', 'USPF', 'Hardcore',
       'WRPF-Iceland', 'IKF', 'KPF', 'WUAP-SVK', 'USVIPF', 'GPC-CAN',
       'APC', 'NZPF', 'GPC-RUS', 'WPPL-Belarus', 'SAPF', 'HPC',
       'WRPF-Belarus', 'WRPF-Ireland', 'WPF-RUS', 'WRPF-Spain', 'FFForce',
       'FESUPO', 'URPF', 'NASA', 'CPU', 'WPC-Poland', 'IrishPF', 'WDFPF',
       'WRPF-Bulgaria', 'APU', 'WRPF-KAZ', 'AfricanPF', 'RawIronPL',
       'WPA', 'ACHIPO', 'CPI', 'SLP', 'NZ-UA', 'Germany-UA', 'WPRO',
       'GPU', 'AAP', 'WUAP', 'IPL-China', 'LMP', 'FEPOA', 'WPC-Egypt',
       'BelPF', 'AEP', 'WPC-KAZ', 'WarriorPLF', 'BAWLA', 'UPC', 'PRPA',
       'ChinaPA', 'WPC-UKR', 'WRPF-SRB', 'WPF', 'ORPF', 'RAW', 'HPF',
       'UkrainePO', 'OceaniaPF', 'PZKFiTS', 'DPL', 'EPA', 'PLTRAW',
       'NPAJ', 'SCI', 'UAEPA', 'WRPF-Lithuania', 'WUAP-AUT', 'ESDT',
       'MPA', 'VGPF', 'DSF', 'GPC-POL', 'RawPower', 'UkrainePF', 'CAST',
       'OEVK', 'WP-NZ', 'AAPLF', 'BVDK', 'KNKF-SP', 'GPL', 'CAPO-NZ',
       'IranBBF', 'WPC-SVK', 'BPA', 'GPC-USA', 'WP', 'FECHIPO', 'Vityaz',
       'WPC-Iceland', 'GPC-Scotland', 'Qatar-UA', 'WRPF-Argentina',
       'LJTF', 'KuwaitPL', 'IPL-NZ', 'ScottishPL', 'ADAU', 'ABP',
       'FECAPOLIF', 'HPLS', 'FELIPOME', 'EJTL', 'KDKS', 'SwissPL', 'PS',
       'EPC', 'VietnamPA', 'CBLB', 'UkrainePA', 'WRPF-Brazil',
       'WPC-Italy', 'PLSS', 'ILPL', 'WPC-India', 'BPO', 'WUAP-USA', 'BPF',
       'RAW-UKR', 'WRPF-Sweden', 'SAST', 'GPA-CRO', 'WRPF-Slovakia',
       'ACPA', 'FCST', 'HKWPA', 'KBGV', 'CSST', 'FEMEPO', 'NIPF', 'IPC',
       'WNPF', 'WPC-France', 'WP-China', 'WPC-Portugal', 'Fedepotencia',
       'FIAP', 'IDFPA', 'NauruPF', 'IPL-Spain', 'WPU', 'Croatia-UA',
       'WUAP-Germany', 'WPCCP', 'SSSC', 'WRPF-Slovenia', 'BDFPA', 'MAP',
       'BPC', 'MM-AUS', 'GPC-UKR', 'WPC-KGZ', 'PHPL', 'WPF-KRAWA',
       'WPC-Israel', 'PLRD', 'PI', 'PAP', 'GPF', 'UDFPF', 'VPF',
       'Hunpower', 'WP-USA', 'KRAFT', 'NordicPF', 'GPC-IRL', 'FALPO',
       'HKPF', 'CRPL', 'FRPL', 'SPA', 'USPS', 'RAW-CAN', 'FFHMFAC',
       'PFBD', 'IronBoy', 'WUAP-RUS', 'PAGermany', 'WelshPA', 'NORCAL',
       'IBSA', 'APP', 'PLZS', 'AusPF', 'GPC-Portugal', 'FCP', 'ADFPA',
       'WPC-Germany', 'ThaiPF', 'LFPH', 'BDFPF', 'HPO', 'GDFPF', 'NPL',
       'England-UA', 'USSF', 'TAAP', 'MHSPLA', 'ADFPF', 'CyprusPF',
       'ILPA', 'IPF-China', 'WRPF-Portugal', 'NZAWLA', 'GFP', 'AWF',
       'WRPF-MEX', 'GPC-ISR', 'HPLS-UA', 'WRPF-EIRE', 'AusDFPF',
       'WP-India', 'HTPL', 'FSFA', 'CPO', 'IDFPF', 'WPC-Moldova',
       'RAW-Iceland', 'VDFPA', 'LGBT', 'SDFPF', 'SADFPA', 'USSports',
       'UgandaPF', 'WPPL-Russia', 'ManxPL', 'NOVA', 'SPSS', 'PLH',
       'GRAWA', 'WP-Niue', 'WP-Nauru', 'DBKV', 'WABDL', 'GPC-WUAP-CRO',
       'WPFG', 'APUA', 'PNGPF', 'Canada-UA', 'AmericanSA', 'SPF-IRL',
       'BVDG', 'WPSF-Belarus', 'UgandaPA', 'USMilAbroad', 'PRIDE',
       'WPPL-Ukraine', 'WPLeague', 'WPA-GEO', 'IRP', 'Malaysia-UA',
       'WRPF-HUN', 'GSF-Belarus', 'WPPO', 'Russia-UA', 'WRPF-POL',
       'Czechia-UA', 'WRPF-Italy', 'NextGenPF', 'WPPL-Mexico', 'WUAP-CZ',
       'DFPFNL', 'FBPD', 'CBPL', 'USARawBP', 'Poland-UA', 'IPA-AZE',
       'PoliceAL', 'SSA', 'FHSAA', 'UPL', 'LPF', 'WAIA'], dtype=object)

In [164]:
df["Competition Date"]

0         2019-04-27
1         2022-07-29
2         2021-04-24
3         2019-08-03
4         2019-04-27
             ...
453795    2003-01-01
453796    2013-10-11
453797    1998-05-01
453798    2021-07-21
453799    2004-01-01
Name: Competition Date, Length: 453800, dtype: object

We can see that this is stored as a object but it may be useful to store as Datetime type

In [165]:
df["Date"] = pd.to_datetime(df['Competition Date'])

In [166]:
df["Date"].dtype

dtype('<M8[ns]')

In [167]:
df.head()

,Name,Instagram Handle,Origin,Federation,Competition Date,Competition Country,Competition City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots,Date
0,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30.0,123.4,123,573.2,292.1,485.0,1350.3,709.96,2019-04-27
1,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41.0,163.8,165,639.3,336.2,611.7,1587.3,704.76,2022-07-29
2,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26.0,163.8,165,650.3,325.1,573.2,1548.7,687.63,2021-04-24
3,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24.0,177.2,181,639.3,374.8,595.2,1609.3,686.14,2019-08-03
4,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27.0,119.9,123,507.0,242.5,529.1,1278.6,685.45,2019-04-27

In [168]:
df["Competition Country"].unique()

array(['USA', 'Australia', 'Finland', 'South Africa', 'Russia', 'Ukraine',
       'England', 'UK', 'Malta', 'Canada', 'Ireland', 'Wales',
       'Argentina', 'Germany', 'New Zealand', 'South Korea', 'Sweden',
       'Israel', 'Brazil', 'Norway', 'Colombia', 'Italy', 'Kyrgyzstan',
       'Poland', 'Kazakhstan', 'Hungary', 'Japan', 'UAE', 'Latvia',
       'Czechia', 'Türkiye', 'Slovakia', 'Iceland', 'Luxembourg',
       'Portugal', 'US Virgin Islands', 'Belarus', 'Serbia', 'Lithuania',
       'Spain', 'France', 'Uruguay', 'Bulgaria', 'Morocco', 'Chile',
       'Austria', 'China', 'Mexico', 'Egypt', 'Greece', 'India',
       'Bosnia and Herzegovina', 'Denmark', 'Azerbaijan', 'Scotland',
       'Netherlands', 'Jamaica', 'Malaysia', 'Belgium', 'Slovenia',
       'Costa Rica', 'Iran', 'Belize', 'Georgia', 'Qatar', 'Estonia',
       'Kuwait', 'Mongolia', 'Bolivia', 'Cameroon', 'Peru', 'Croatia',
       'Switzerland', 'Singapore', 'Vietnam', 'USSR', 'Ecuador',
       'N.Ireland', 'Uganda', 'Hong Kong', 'Papua New Guinea', 'Algeria',
       'Panama', 'Guatemala', 'Uzbekistan', 'Nauru', 'Saudi Arabia',
       'Philippines', 'Venezuela', 'Dominican Republic', 'Moldova',
       'Yugoslavia', 'Monaco', 'New Caledonia', 'Romania', 'Brunei',
       'Puerto Rico', 'East Germany', 'Paraguay', 'Thailand', 'Cyprus',
       'Cayman Islands', 'Isle of Man', 'Niue', 'West Germany', 'Nigeria',
       'Congo', 'Indonesia', 'Jordan', 'Taiwan', 'Nicaragua'],
      dtype=object)

In [169]:
df["Competition City"].unique()

array(['CA', 'VA', 'TX', 'OH', 'NC', 'FL', 'NSW', nan, 'GT', 'MO', 'NY',
       'OK', 'VIC', 'IA', 'TN', 'PA', 'MOW', 'IL', 'QLD', 'MD', 'NJ',
       'KHA', 'AR', 'AB', 'KY', 'UT', 'SN', 'RYA', 'KYA', 'NV', 'IN',
       'NIZ', 'KRS', 'TAS', 'OR', 'SC', 'SA', 'ROS', 'QC', 'KS', 'MI',
       'LEN', 'HI', 'MS', 'VLA', 'MA', 'GA', 'LA', 'WI', 'AL', 'WA',
       'NVS', 'ON', 'AZ', 'NH', 'SVE', 'WV', 'VGG', 'NE', 'WKO', 'PNZ',
       'CT', 'KIR', 'AKL', 'KDA', 'BC', 'TUL', 'CO', 'ME', 'MV', 'VT',
       'ACT', 'NM', 'BE', 'STA', 'BA', 'CHE', 'HUN', 'RI', 'MN', 'NB',
       'ND', 'MB', 'JL', 'NS', 'AK', 'WGN', 'ULY', 'VLG', 'TYU', 'WG',
       'ARK', 'CRE', 'RM', 'MT', 'CN', 'PE', 'ID', 'ORL', 'NRW', 'YAR',
       'AMU', 'CAN', 'HKB', 'BW', 'CB', 'MWT', 'BRY', 'IRK', 'CM', 'SAR',
       'SD', 'NL', 'DE', 'OMS', 'NTL', 'WM', 'WY', 'OTA', 'VOR', 'KLU',
       'ZAB', 'NW', 'PRI', 'KGD', 'SK', 'SE', 'TAM', 'SH', 'SAM', 'GD',
       'RS', 'DC', 'BOP', 'SP', 'DF', 'PER', 'ATT', 'PEL', 'ALT', 'CQ',
       'YAN', 'GE', 'TOM', 'SW', 'BJ', 'KEM', 'HH', 'CU', 'BY', 'KB',
       'MUR', 'KOS', 'SM', 'ORE', 'KR', 'KO', 'CE', 'NI', 'KHM', 'BB',
       'SAA', 'SI', 'HE', 'TVE', 'NT', 'TA', 'EM', 'TH', 'LIP', 'RP',
       'IVA', 'GX', 'BEL', 'GL', 'CH', 'PR', 'YU', 'HEN', 'JX', 'NGR',
       'JS', 'STL', 'UD', 'ZE', 'ZH', 'TM', 'ST', 'XJ', 'EMT', 'TL',
       'PSK', 'HG', 'SJ', 'CS', 'SMO', 'WC', 'GR', 'TKI', 'GIS', 'AST',
       'YNE', 'MOS', 'KGN', 'AD', 'DL', 'MG', 'VE', 'JA', 'YEV', 'RJ',
       'KA', 'MH', 'HR', 'SB', 'MAG', 'WTC'], dtype=object)

In [170]:
df["Gender"].unique()

array(['F', 'M', 'Mx'], dtype=object)

In [171]:
df["Equipment"].unique()

array(['Wraps', 'Raw'], dtype=object)

In [172]:
df["Class"].unique()

array(['123', '165', '181', '148', '198', '220', '275', '242', '308',
       '132', '198+', '163', '308+', '114', '138', '105', nan, '125',
       '275+', '231', '167', '130', '152', '242+', '220+', '205', '185',
       '264+', '145', '183', '209', '158', '176', '260', '103', '264',
       '185+', '225', '319+', '250', '165+', '116', '123+', '148+', '97',
       '231+', '127', '187', '136', '341+', '169', '154', '207', '+',
       '319', '141', '204', '300+', '132+', '175', '205+', '280+', '184',
       '94', '187+', '230', '159+', '194', '125+', '128', '176+', '144',
       '224+', '168', '183+', '164', '265', '224', '219', '341', '138+',
       '122', '154+', '173+', '200', '240', '274', '206', '143', '104',
       '140', '152+', '111', '181+', '274+', '299', '120', '115', '241',
       '163+', '158+', '196', '174', '179', '280', '113', '199', '131',
       '265+', '179+', '197', '219+', '159', '88', '167+', '199+', '150',
       '180', '119', '170', '134', '129', '101', '160', '259', '108',
       '77', '85', '227', '83', '79', '315', '200+', '98', '66', '315+',
       '173', '253', '253+', '250+', '68', '72', '153', '229', '110',
       '155', '189', '235+', '99', '70', '121', '112', '90', '235', '147',
       '213', '149', '228+', '175+', '244', '300', '204+', '189+', '188',
       '238', '216', '218', '237+', '121+', '237', '91', '118', '262',
       '177', '228', '100', '89', '192', '222+', '151', '227+', '74',
       '59', '92', '134+', '84', '76', '71'], dtype=object)

In [173]:
df["Class"] = df["Class"].str.replace('+', '')
df["Class"] = df["Class"].mask(df["Class"] == '').astype(np.float64)

C:\Users\pknad\AppData\Local\Temp\ipykernel_18212\2274564943.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Class"] = df["Class"].str.replace('+', '')

In [174]:
df["Class"].unique()

array([123., 165., 181., 148., 198., 220., 275., 242., 308., 132., 163.,
       114., 138., 105.,  nan, 125., 231., 167., 130., 152., 205., 185.,
       264., 145., 183., 209., 158., 176., 260., 103., 225., 319., 250.,
       116.,  97., 127., 187., 136., 341., 169., 154., 207., 141., 204.,
       300., 175., 280., 184.,  94., 230., 159., 194., 128., 144., 224.,
       168., 164., 265., 219., 122., 173., 200., 240., 274., 206., 143.,
       104., 140., 111., 299., 120., 115., 241., 196., 174., 179., 113.,
       199., 131., 197.,  88., 150., 180., 119., 170., 134., 129., 101.,
       160., 259., 108.,  77.,  85., 227.,  83.,  79., 315.,  98.,  66.,
       253.,  68.,  72., 153., 229., 110., 155., 189., 235.,  99.,  70.,
       121., 112.,  90., 147., 213., 149., 228., 244., 188., 238., 216.,
       218., 237.,  91., 118., 262., 177., 100.,  89., 192., 222., 151.,
        74.,  59.,  92.,  84.,  76.,  71.])

One thing to note is that some of the columns have spaces in them and this could become a problem with certain plugins/databases

In [175]:
df.columns

Index(['Name', 'Instagram Handle', 'Origin', 'Federation', 'Competition Date',
       'Competition Country', 'Competition City', 'Gender', 'Equipment', 'Age',
       'Weight', 'Class', 'Squat', 'Bench', 'Deadlift', 'Total', 'Dots',
       'Date'],
      dtype='object')

In [176]:
df.columns = df.columns.str.replace(' ', '_')

In [177]:
print(df.columns)

Index(['Name', 'Instagram_Handle', 'Origin', 'Federation', 'Competition_Date',
       'Competition_Country', 'Competition_City', 'Gender', 'Equipment', 'Age',
       'Weight', 'Class', 'Squat', 'Bench', 'Deadlift', 'Total', 'Dots',
       'Date'],
      dtype='object')

In [178]:
df

,Name,Instagram_Handle,Origin,Federation,Competition_Date,Competition_Country,Competition_City,Gender,Equipment,Age,Weight,Class,Squat,Bench,Deadlift,Total,Dots,Date
0,Marianna Gasparyan,power_mayan,USA,WRPF,2019-04-27,USA,CA,F,Wraps,30.0,123.4,123.0,573.2,292.1,485.0,1350.3,709.96,2019-04-27
1,Kristy Hawkins,kristy_hawkins,USA,WRPF,2022-07-29,USA,VA,F,Wraps,41.0,163.8,165.0,639.3,336.2,611.7,1587.3,704.76,2022-07-29
2,Hunter Henderson #1,huntermhenderson,USA,WRPF,2021-04-24,USA,CA,F,Wraps,26.0,163.8,165.0,650.3,325.1,573.2,1548.7,687.63,2021-04-24
3,Chakera Ingram,c.c_ingram,USA,USPA,2019-08-03,USA,TX,F,Wraps,24.0,177.2,181.0,639.3,374.8,595.2,1609.3,686.14,2019-08-03
4,Stefanie Cohen,steficohen,USA,WRPF,2019-04-27,USA,CA,F,Wraps,27.0,119.9,123.0,507.0,242.5,529.1,1278.6,685.45,2019-04-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453795,Christian Hunt,NaN,NaN,PA,2003-01-01,Australia,NaN,M,Raw,NaN,148.8,148.0,NaN,44.1,NaN,44.1,15.41,2003-01-01
453796,Jack Childs,NaN,USA,AAU,2013-10-11,USA,NV,M,Raw,10.0,148.8,148.0,NaN,44.1,NaN,44.1,15.41,2013-10-11
453797,Paul Panucci,NaN,NaN,AAU,1998-05-01,USA,CA,M,Raw,NaN,220.4,220.0,NaN,55.1,NaN,55.1,15.39,1998-05-01
453798,Ezra James,NaN,USA,RAW,2021-07-21,USA,VA,M,Raw,6.0,62.8,105.0,NaN,26.4,NaN,26.4,15.25,2021-07-21
453799,Eleanor Dick,NaN,NaN,PA,2004-01-01,Australia,NaN,F,Raw,NaN,156.5,165.0,NaN,33.0,NaN,33.0,15.05,2004-01-01

# Conclusion
Everything now looks pretty good, let us now implement this in a proper python script so it will be easier to refactor and save the processed data in a new location where we can then do further analysis